* {
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/08/23/21/heart-1809653_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 90px;
  background: transparent;
}
.navbar > h1 {
  font-size: 61px;
  color: crimson;
}

ul.navmenu {
  border-bottom: 2px solid transparent;
  list-style: none;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.navmenu > li {
  color: rgb(16, 16, 16);
}

.navmenu > li:hover {
  border-bottom: 2px solid black;
}
.sidebar {
  width: 264px;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgb(235, 34, 34),
    black,
    pink,
    transparent
  );
}

.sidebar > ul {
  list-style: none;
  padding: 0;
}

.sidebar > ul > li {
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid black;
  font-size: 30px;
  text-transform: capitalize;
  font-family: fantasy;
}
.sidebar > ul > li:hover {
  background-color: black;
}
