* {
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.sidebar,
.home {
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .sidebar,
  .home {
    flex-basis: 100%;
  }
}

.sidebar {
  width: 50%;
  height: 100vh;
  background-color: black;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  width: 50%;
  height: 100vh;
  background-color: #607d8b !important;
}

.image > img {
  background: transparent;
  border-radius: 193px;
}

.home > p {
  margin-left: 156px;
  color: white;
  line-height: 38px;
  font-size: 24px;
}
.home > h1 {
  color: white;
  font-size: 50px;
}
.heading > h1 {
  color: white;
  padding: 119px;
  font-size: 70px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-in {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.link-in > a {
  color: white;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}

.link-in > a:hover {
  background-color: #7574d1;
  width: 800px;
  height: 40px;
}
.containers {
  flex-wrap: wrap;
  display: flex;
  height: 100vh;
}
.info,
.table-list {
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .info,
  .table-list {
    flex-basis: 100%;
  }
}
.info {
  row-gap: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, black, transparent);
}
.info > h1 {
  font-size: 80px;
}

.table-list {
  height: 100%;
  background-color: blue;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 445px;
  height: 200px;
}
.card {
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
}

.table-list > table {
  width: calc(100% - 80px);
  height: 100%;
  margin: 20px 40px;
}

.table-list tbody > tr:nth-child(odd) {
  background-color: white;
}

.table-list tbody > tr > td {
  font-size: 23px;
  padding: 8px 8px;
  text-align: left;
  text-transform: capitalize;
}

.ht > h1 {
  text-align: center;
  color: white;
  font-size: 62px;
}

.ht > p {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: ui-monospace;
}
